.footer {
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	background: rgb(255, 255, 255);
	position: fixed;
	bottom: 0;
	width: 100%;
	color: rgb(59, 58, 58);
	z-index: 10;
}

.link {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (min-width: 900px) {
	.footer {
		display: none;
	}
}
